* {
    font-family: Karla;
    font-weight: 100;
}

li {
    list-style: none;
}

hr {
    border-top: 1px solid black !important;
}

span {
    font-size: .75em;
    color: gray;
    margin-left: 12px;
}

nav li {
    float: right;
}

nav>ul>li {
    color: #07a7dc;
    margin-right: 10px;
    margin-left: 70px;
}

.header-name {
    margin-left: 10px;
    margin-top: 40px;
    margin-bottom: -5px;
}

.main-container {
    background-color: #03a2f3;
    margin: -20px -15px -20px -15px;
    color: #fff;
    padding: 10px 0 80px 0;
}

.contact-title {
    font-weight: bold;
}

.contact-item {
    float: left;
    margin-right: 115px;
}

#welcome-message {
    float: right;
    margin: 140px 20px 0 0;
    font-size: 2em;
}

.biopic {
    height: 100px;
    margin: 10px 0 10px 20px;
}

#skills {
    margin: -20px 0 -25px 174px;
}

#skills-h3 {
    margin: 20px 20px -5px 20px !important;
}

.skill-item {
    float: left;
    margin: 0 38px 0 124px!important;
}

.footer {
    background-color: black;
    color: #fff;
    padding: 40px 0;
    margin: -20px -15px -20px -15px;
}

.education-entry {
    float: left;
    margin: 25px 20px 20px 19px;
}

.projects {
    background-color: #d8d9da;
    margin: -20px -15px;
    padding: 20px 0 40px;
}

.project-entry {
    margin: 24px 0 0 20px !important;
}

.project-entry p {
    margin: 20px 20px 10px 0px;
}

.project-entry h3 {
    margin: 50px 0 -5px 0;
}

.date-text {
    margin-top: 50px;
}

.project-img {
    float: right;
    height: 200px !important;
    width: 200px !important;
    margin: 10px 20px 10px 20px;
}

.location {
    margin: -20px -15px;
    background-color: #d8d9da;
    padding: 20px 0 40px;
}

#map {
    height: 350px;
    width: 800px;
    border: 1px solid black;
    margin: 0 auto;
}

@media only screen and (max-width: 885px) {
    #map {
        height: 350px;
        width: 600px;
    }

    #skills {
        margin-top: -25px !important;
    }

    nav {
        margin-top: 30px !important;
    }

    .contact-item {
        margin: 0 -5px 0 5px;
    };
}